.form-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.form-section {
    display: flex;
}

.form-column {
    flex: 1;
    padding: 10px;
    flex-direction: column;
    gap: 15px;
}


h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.2em;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.95em;
}

input[type="text"], input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

input[type="text"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
