.css-8atqhb {
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}

.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #f8a228;
}

.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
    color: #f8a228;
}

.MuiStepIcon-root.Mui-active{
    color: #f8a228;
}
