.css-8atqhb {
    /* width: 60%; */
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    /* color: #f8a228; */
}

.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #f8a228;
}

.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
    color: #f8a228;
}

.MuiStepIcon-root.Mui-active{
    color: #f8a228;
}

/* 
.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed
.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-active


*/