.video-upload-summary {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.upload-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 25px;

}

.stats-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background: #f6f4ee;
    padding: 20px;
}

.video-header{
    font-weight: bold;
    font-size: 16px;
}

.upload-success {
    color: #4CAF50;
}

.upload-failed {
    color: #f44336;
}

.back-home-button {
    display: block;
    /* width: 100%; */
    padding: 10px;
    padding-left: 10px;
    background-color: #f8a228;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center
}
